*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  background-color: #0c111b !important;
  position: relative;
  font-family: roboto,sans-serif;
}
.movieContainer{
  width: 300px;
  position: relative;
  margin: 20px;
  /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
}
.moviesContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.movieContainer img{
  width: 100%;
  height: auto;
}
.movieContainer:hover .name{
  color: skyblue;
  position: absolute;
  

}
.hovver{
  /* display: none; */
  position: absolute;
  bottom: 200px;
  color: black;
  
  
 
}
.movieContainer .name{
  font-size: 20px;
  font-family: fantasy;
  position: absolute;
  /* bottom: 100px; */
  color: white;
  /* display: none; */
}